//- Image
	@param {string} name
mixin img( name )
	- var size = getImageSize( name );
	img( src= setImagePath( setImageExtension( name ) ), alt='', width= size[0], height= size[1] )&attributes( attributes )


//- Jpg image
	@param {string} name
mixin jpg( name )
	- var size = getImageSize( name );
	img( src= setImagePath( name +'.jpg' ), alt='', width= size[0], height= size[1] )&attributes( attributes )


//- Png image
	@param {string} name
mixin png( name )
	- var size = getImageSize( name );
	img( src= setImagePath( name +'.png' ), alt='', width= size[0], height= size[1] )&attributes( attributes )


//- Loop without indexing mixin
	@param {number} iterations - number of iterations
mixin loop( iterations )
	- for ( var i = 0; i < iterations; i++ )
		block


//- Parallax Section
	@param {object} obj - parameters storage
	@param {string} obj.img - image path
	@param {string} obj.innerClass - content wrapper class
mixin parallax( obj )
	section.section.parallax-container( data-parallax-img= obj.img )&attributes( attributes )
		.parallax-content( class= obj.innerClass )
			block


//- Breadcrumbs
	@param {object} obj - parameters storage
	@param {string} obj.category - required menu category
	@param {string} obj.bgImage - section background image
	@param {array}  obj.path - other navigation path
mixin breadcrumbs( obj )
	- var activeItemName= obj.path.pop();
	- var category = getMenuCategory( obj.category );

	section.breadcrumbs-custom
		.container
			ul.breadcrumbs-custom-path
				li: a(href='index.html') Home
				if ( typeof( category ) !== 'undefined' && ( category.title !== activeItemName ) )
					li: a( href=category.link ? category.link : genLink( category.title ) )= category.title
					-for( var i = 0; i < obj.path.length; i++)
						li: a( href=obj.path[i].link ? obj.path[i].link : genLink( obj.path[i].title) )= obj.path[i].title

				li.active=activeItemName

// Page Title
mixin page-title( obj )
	section.section-page-title( style='background-image: url('+ setImagePath( setImageExtension( obj.bgImage ) ) +'); background-size: cover;')
		.container
			h1.page-title=obj.title
				
//- Logo
mixin logo
	a.brand( href='index.html' )&attributes( attributes )
		+png( logo.default, 'brand-logo-dark' )
		+png( logo.inverse, 'brand-logo-light' )


//- Copyright
mixin rights
	p.rights&attributes( attributes )
		span &copy;&nbsp; 
		span.copyright-year
		span &nbsp;
		span= logo.name
		span .&nbsp;
		a( href='privacy-policy.html' ) Privacy Policy
